/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1.0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------------------------------------------------
 Utilities
------------------------------------------------------------------------ */
.isHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

/* ---------------------------------------------------------------------
 Wrappers
------------------------------------------------------------------------ */
.wrapper { width: 320px; }

.carouselWrapper {
    overflow: hidden;
    position: relative;
    width: 222px;
    height: 100px;
}

/* ---------------------------------------------------------------------
 Chromotion
------------------------------------------------------------------------ */
.chromotion {
    padding: 20px 0 0 0;
    height: 554px;
    box-sizing: border-box;
    text-align: center;
    background: transparent url('../images/bg.jpg') 0 0 / 100% no-repeat;
}

.chromotion > * { display: inline-block; }

.chromotion-hd { margin-bottom: 20px; }

.chromotion-bd {}

/* ---------------------------------------------------------------------
 Horizontal List
------------------------------------------------------------------------ */
.hList {}

.hList > * {
    display: inline-block;
    font-size: 0;
}

/* ---------------------------------------------------------------------
 Vertical List
------------------------------------------------------------------------ */
.vList {}

.vList > * { margin-bottom: 1px; }

/* ---------------------------------------------------------------------
 Icon
------------------------------------------------------------------------ */
.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.icon_arrowDown {
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background: transparent url(../images/icon_arrowDown.png) 0 0 no-repeat;
}

.icon_arrowLeft {
    width: 10px;
    height: 15px;
    display: none;
    position: absolute;
    cursor: pointer;
    top: 45px;
    left: 0;
    z-index: 2;
    background: transparent url(../images/icon_arrowLeft.png) 0 0 no-repeat;
}

.icon_arrowRight {
    width: 10px;
    height: 15px;
    display: none;
    position: absolute;
    cursor: pointer;
    top: 45px;
    right: 0;
    z-index: 2;
    background: transparent url(../images/icon_arrowRight.png) 0 0 no-repeat;
}

.carousel-btn-next_isActive,
.carousel-btn-prev_isActive { display: inline-block; }

/* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
.button {
    font: 500 20px/1.0 "stratum2_rgregular", serif;
    margin-bottom: 1px;
    width: 220px;
    height: 44px;
    text-transform: uppercase;
    border: 0;
    background: #ffffff;
    cursor: pointer;
}

.button:hover { background: #f2f2f2; }

/* ---------------------------------------------------------------------
 Circle
------------------------------------------------------------------------ */
.circle {
    margin: 10px 15px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

/* naming needs context */
.circle_green { background-color: #57b79b; }

.circle_blue { background-color: #4c9cd9; }

.circle_purple { background-color: #9165b5; }

.circle_darkBlue { background-color: #374a5d; }

.circle_yellow { background-color: #ecc12d; }

.circle_red { background-color: #d75845; }

/* ---------------------------------------------------------------------
 Carousel
------------------------------------------------------------------------ */
.carousel {
    width: 9999px;
    overflow: hidden;
    height: inherit;
}

.carousel > * {
    width: 222px;
    float: left;
    position: relative;
    text-align: center;
}

.carousel > * > * {
    display: inline-block;
    vertical-align: middle;
}

/* ---------------------------------------------------------------------
 Member
------------------------------------------------------------------------ */
.member {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    background: #ffffff bottom center / 140% no-repeat;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

.member_cd { background-image: url(http://nerdery.com/system/nerds/normal/cd.png); }
.member_cj { background-image: url(http://nerdery.com/system/nerds/normal/cj.png); }
.member_gz { background-image: url(http://nerdery.com/system/nerds/normal/gz.png); }
.member_jj { background-image: url(http://nerdery.com/system/nerds/normal/jj.png); }
.member_lg { background-image: url(http://nerdery.com/system/nerds/normal/lg.png); }
.member_pf { background-image: url(http://nerdery.com/system/nerds/normal/pf.png); }
.member_yn { background-image: url(http://nerdery.com/system/nerds/normal/yn.png); }
.member_zn { background-image: url(http://nerdery.com/system/nerds/normal/zn.png); }
.member_zz { background-image: url(http://nerdery.com/system/nerds/normal/zz.png); }

/* ---------------------------------------------------------------------
 Field
------------------------------------------------------------------------ */
.field { margin: 0; }

.field_radioOverlay {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
}

.field[type="radio"]:checked + .member {
    -webkit-filter: grayscale(0);
       -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
         -o-filter: grayscale(0);
            filter: grayscale(0);
}

/* ---------------------------------------------------------------------
 Status
------------------------------------------------------------------------ */
.status {
    overflow: hidden;
    text-align: left;
}

.status-item {
    width: 220px;
    height: 44px;
    cursor: pointer;
    background: #ffffff;
}

.status-item > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.status-item:hover { background: #f2f2f2; }

.status-item-content {
    font: 500 18px/1.0 "stratum2_rgregular", serif;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Accordion
------------------------------------------------------------------------ */
.accordion {
    width: 220px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

.accordion-item {
    margin-bottom: 1px;
    padding: 15px 0;
    width: 220px;
    height: 44px;
    box-sizing: border-box;
    cursor: pointer;
    background: #ffffff;
}

.accordion-item > * {
    display: inline-block;
    vertical-align: middle;
}

.accordion-item-content {
    font: 500 18px/1.0 "stratum2_rgregular", serif;
    text-transform: uppercase;
}

.accordion > .accordion-list { display: none; }
/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: 'stratum2_bdbold';
    src: url('../fonts/stratum2-bold-webfont.eot');
    src: url('../fonts/stratum2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stratum2-bold-webfont.woff') format('woff'),
         url('../fonts/stratum2-bold-webfont.ttf') format('truetype'),
         url('../fonts/stratum2-bold-webfont.svg#stratum2_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stratum2_mdregular';
    src: url('../fonts/stratum2-medium-webfont.eot');
    src: url('../fonts/stratum2-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stratum2-medium-webfont.woff') format('woff'),
         url('../fonts/stratum2-medium-webfont.ttf') format('font/opentype'),
         url('../fonts/stratum2-medium-webfont.svg#stratum2_mdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stratum2_rgregular';
    src: url('../fonts/stratum2-regular-webfont.eot');
    src: url('../fonts/stratum2-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stratum2-regular-webfont.woff') format('woff'),
         url('../fonts/stratum2-regular-webfont.ttf') format('truetype'),
         url('../fonts/stratum2-regular-webfont.svg#stratum2_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
